hr.solid {
    border-top: 3px solid #bbb;
}

.card {
    border-top-left-radius: 15px;
    box-shadow: rgb(209, 209, 218) 0px 3px 3px;
    border-bottom-right-radius: 15px;
}

.borderRight {
    border-left: solid 1px grey;
}