<div class="container-fluid pt-3 p-0">
    <div class="row m-0 p-0 pb-3 ">
        <p style="color: #3dcd58" class="fs-4 bold">Lifecycle</p>
    </div>
    <div class="row m-0 p-0 me-3 card " style="border-radius: 15px;">
        <div class="col-12 ">
            <div class="content">
                <canvas class="p-4" id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 p-0">
    <div class="row m-0 p-0 ">
        <p style="color: #3dcd58" class="fs-4 bold">Manufacturing Location</p>
    </div>
    <div class="row m-0 p-0 me-3 card " style="border-radius: 15px;">
        <div class="col-12 ">
            <div class="content">
                <canvas class="p-4" id="myMlChart"></canvas>
            </div>
        </div>
    </div>
</div>